* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.students-container, .lesson-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
}

.student-form-container, .lesson-form-container{
    max-width: 650px;
    padding: 28px;
    margin: 20px;
    box-shadow: 0 15px 20px #ABB2B9;
    margin-top: 50px;
    background-color: #eeebee;
    height: 400px;
    border-radius: .8rem;
}

.new-student-header, .new-lesson-header {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    color: #2f4f4f;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.inputs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-container {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-container:nth-child(2n) {
    justify-content: end;
}

.input-container label {
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}

.input-container input {
    height: 40px;
    width: 95%;
    padding:  0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-container input:is(:focus) {
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.button-container button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #aa076b , #61045f);
}

.button-container button:hover {
    background-image: linear-gradient(to right, #61045f, #aa076b);
    font-size: 22px;
    cursor: pointer;
} 

.add-new-task-container {
    width: 300px;
}

.ul-of-tasks {
    margin: 20px;
    display: flex;
    flex-direction: column;
}