.statistics-container {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.full-statistics-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.full-stat-for-all,
.full-stat-for-student {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.choosed-statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.section-container {
    display: flex;
    flex-direction: row;
}

.tutor-name {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.select-section {
    width: 370px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 5px 5px #ABB2B9;
    background-color: #f7f5f7;
    border-radius: .8rem;
}

.info-label {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #aa076b, #61045f);
    padding-bottom: 8px;
    margin-right: 6px;
}

.select-section select {
    width: 160px;
    padding: 5px;
    border-radius: 10px;
    font: 400 16px Arial;

    color: #aa076b;
    text-align: center;
    border: 1px solid #61045f;
}

.select-section select::-ms-expand {
    display: none;
}

.select-section select:focus {
    outline: none;
    box-shadow: 0 0 10px -1px #aa076b;
}


.value-section {
    display: flex;
    justify-content: center;
}

.value-area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 2px;
}

.value-area .inner-area {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #aa076b;
    line-height: 117px;
    color: #61045f;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.value-area .inner-area .text {
    font-size: 36px;
    font-weight: 400;
}

.button-box {
    width: 360px;
    margin: 35px;
    position: relative;
    box-shadow: 0 0 20px 9px #de24b91f;
    border-radius: 30px;
    background-color: #dfdbdf;
}

.toggle-button {
    padding: 10px 30px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
    position: relative;
    border-radius: 30px;
    
} 
.active-button {
    transition: .5s;
    background: linear-gradient(to right, #aa076b, #61045f);
    color: white;
}

.statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}