* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.table-header {
    width: 100%;
    height: 30px;
    padding: 10px 0 40px 15px;
    
}

.table-body {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #0005;
    border-radius: .8rem 0 0 .8rem;
    text-align: center;
    max-height: 400px;
    overflow: auto;
}

.students-table {
    width: 600px;
    height: max-content;
}

.lessons-table {
    width: 600px;
    
}

table {
    border-collapse: collapse;
    box-shadow: 0 5px 10px #0005;
    border-radius: .8rem .8rem 0 .8rem;
    text-align: center;
    
}


thead {
    box-shadow: 0 5px 10px 1px #0005;
    background-color: #eeebee;
    position: sticky;
    top: 0; 
}

th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 700;
    position: sticky; 
    top: 0; 
} 


td {
    padding: .6rem .8rem;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: rgba(241, 198, 198, 0.4);
}

.table {
    margin-bottom: 40px;
}

.td-name {
    text-align: left;
}

